<div class="container">

    <h1><font color="white">Get ready to manage Properties!</font></h1>

    <div class="form-group">
        <label><font color="white">Username</font></label>
        <input type="text" class="form-control input-lg text-center" ng-model="loginData.username" />
    </div>

    <div class="form-group">
        <label><font color="white">Password</font></label>
        <input type="password" class="form-control input-lg text-center" ng-model="loginData.password" />
    </div>

    <button class="btn btn-success btn-lg" ng-click="login()"><font color="white">Login</font></button>

</div>