<table class="table table-responsive">
    <thead>
    <thead class="thead-inverse">
        <tr>
            <th><font color="white">Opened Date</font></th>
            <th><font color="white">Closed Date</font></th>
            <th><font color="white">Description</font></th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="workOrder in workOrders">
            <td><font color="white">{{workOrder.OpenedDate}}</font></td>
            <td><font color="white">{{workOrder.ClosedDate}}</font></td>
            <td><font color="white">{{workOrder.Description}}</font></td>
            <td>
                <a class="btn btn-info" ng-href="#/app/workOrder/detail/{{workOrder.WorkOrderId}}">
                    Edit <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a class="btn btn-danger" ng-click="deleteWorkOrder(workOrder)">
                    Delete <i class="glyphicon glyphicon-erase"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>