<div class="container">

    <h1><font color="white">Sign up now to manage your properties!</font></h1>

    <div class="form-group">
        <label><font color="white">Username</font></label>
        <input type="text" class="form-control input-lg text-center" ng-model="registration.Username" />
    </div>

    <div class="form-group">
        <label><font color="white">Email Address</font></label>
        <input type="email" class="form-control input-lg text-center" ng-model="registration.EmailAddress" />
    </div>

    <div class="form-group">
           <label><font color="white">Password</font></label>
        <input type="password" class="form-control input-lg text-center" ng-model="registration.Password" />
    </div>

    <div class="form-group">
        <label><font color="white">Confirm Password</font></label>
        <input type="password" class="form-control input-lg text-center" ng-model="registration.ConfirmPassword" />
    </div>

    <button class="btn btn-success btn-lg" ng-click="register()">Register</button>

</div>