<h4><font color="white">{{tenant.TenantId ? 'Edit' : 'Add'}} Tenant</font></h4>
<div class="well">
   
    <form name="tenantForm">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">

                <div class="form-group"
                     ng-class="{'has-error': tenantForm.tenantFirstName.$invalid && tenantForm.$submitted }">
                    <label class="control-label" for="tenantFirstName">Tenant First Name</label>
                    <input type="text" class="form-control" id="tenantFirstName" name="tenantFirstName"
                           placeholder="Tenant First Name" ng-model="tenant.FirstName" required autofocus>
                    <span class="help-block"
                          ng-show="tenantForm.tenantFirstName.$invalid && tenantForm.$submitted">
                        This is a required field
                    </span>
                </div>


            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="form-group"
                     ng-class="{'has-error': tenantForm.tenantLastName.$invalid && tenantForm.$submitted }">
                    <label class="control-label" for="tenantLastName">Tenant Last Name</label>
                    <input type="text" class="form-control" id="tenantLastName" name="tenantLastName"
                           placeholder="Tenant Last Name" ng-model="tenant.LastName" required>
                    <span class="help-block"
                          ng-show="tenantForm.tenantLastName.$invalid && tenantForm.$submitted">
                        This is a required field
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="form-group"
                     ng-class="{'has-error': tenantForm.tenantTelephone.$invalid && !tenant.EmailAddress
                                    && tenantForm.$submitted }">
                    <label class="control-label" for="tenantTelephone">Tenant Telephone</label>
                    <input type="text" class="form-control" id="tenantTelephone" name="tenantTelephone"
                           placeholder="Telephone" ng-model="tenant.Telephone" ng-required="!tenant.EmailAddress">
                    <span class="help-block"
                          ng-show="tenantForm.tenantTelephone.$invalid && !tenant.EmailAddress
                                    && tenantForm.$submitted ">
                        Tenant telephone or email address is required
                    </span>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="form-group"
                     ng-class="{'has-error': tenantForm.tenantEmailAddress.$invalid &&
                                                    !tenant.Telephone && tenantForm.$submitted }">
                    <label class="control-label" for="tenantEmailAddress">Tenant Email Address</label>
                    <input type="email" class="form-control" id="tenantEmailAddress" name="tenantEmailAddress"
                           placeholder="Email Address" ng-model="tenant.EmailAddress" ng-required="!tenant.Telephone">
                    <span class="help-block"
                          ng-show="tenantForm.tenantEmailAddress.$invalid && !tenant.Telephone && tenantForm.$submitted">
                        Tenant telephone or email address is required
                    </span>
                    <span class="help-block"
                          ng-show="tenantForm.tenantEmailAddress.$error.email && tenantForm.$submitted">
                        Invalid email address
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-8">
                <button class="btn btn-success btn-sm" type="submit" ng-click="saveTenant()">
                    <i class="fa fa-save"></i> Save
                </button>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <button class="btn btn-danger btn-sm pull-right" ui-sref="app.tenants.list">
                    <i class="fa fa-remove fa-fw"></i> Cancel
                </button>
            </div>
        </div>
    </form>
</div>