<h4><f<h4>{{lease.LeaseId ? 'Edit' : 'Add'}} Lease</h4>
<div class="well">
    
    <form name="leaseForm" novalidate>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group"
                     ng-class="{'has-error': leaseForm.leaseProperty.$invalid && leaseForm.$submitted }">
                    <label class="control-label" for="leaseProperty">Property Name</label>
                    <input type="text" class="form-control" id="leaseProperty" name="leaseProperty"
                            ng-options="property.PropertyId as property.Name for property in properties"
                            ng-model="lease.PropertyId" required>
                    <span class="help-block"
                          ng-show="leaseForm.leaseProperty.$invalid && leaseForm.$submitted">
                        A property must be selected for the lease
                    </span>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group"
                     ng-class="{'has-error': leaseForm.leaseTenant.$invalid && leaseForm.$submitted }">
                    <label class="control-label" for="leaseTenant">Tenant Name</label>
                    <input type="text" class="form-control" id="leaseTenant" name="leaseTenant"
                            ng-options="tenant.TenantId as tenant.FullName for tenant in tenants"
                            ng-model="lease.TenantId" required>
                    <span class="help-block"
                          ng-show="leaseForm.leaseTenant.$invalid && leaseForm.$submitted">
                        A tenant must be selected for the lease
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group"
                     ng-class="{'has-error': leaseForm.leaseStartDate.$invalid && leaseForm.$submitted }">
                    <label class="control-label" for="leaseStartDate">Lease Start Date</label>
                    <input type="text" class="form-control" id="leaseStartDate" name="leaseStartDate"
                           placeholder="Lease Start Date" ng-model="lease.StartDate" required>
                    <span class="help-block"
                          ng-show="leaseForm.leaseStartDate.$invalid && leaseForm.$submitted">
                        This is a required field
                    </span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="leaseEndDate">Lease End Date</label>
                    <input type="text" class="form-control" id="leaseEndDate"
                           placeholder="Lease End Date" ng-model="lease.EndDate">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group"
                     ng-class="{'has-error': leaseForm.leaseType.$invalid && leaseForm.$submitted }">
                    <label class="control-label" for="leaseType">Rental Period</label>
                    <select class="form-control" id="leaseType" name="leaseType"
                            ng-model="lease.LeaseType" convert-to-number required>
                        <option value="0">Daily</option>
                        <option value="1">Weekly</option>
                        <option value="2">Monthly</option>
                        <option value="3">Yearly</option>
                    </select>
                    <span class="help-block"
                          ng-show="leaseForm.leaseType.$invalid && leaseForm.$submitted">
                        A rental period must be selected for the lease
                    </span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group"
                     ng-class="{'has-error': leaseForm.leaseRent.$invalid && leaseForm.$submitted }">
                    <label class="control-label" for="leaseRent">Rent</label>
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="text" class="form-control" id="leaseRent" name="leaseRent"
                               placeholder="Rent" ng-model="lease.Rent" required>
                        <span class="help-block"
                              ng-show="leaseForm.leaseRent.$invalid && leaseForm.$submitted">
                            This is a required field
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <button class="btn btn-success btn-sm" type="submit" ng-click="saveLease()">
                    <i class="fa fa-save"></i> Save
                </button>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-danger btn-sm pull-right" ui-sref="app.leases.list">
                    <i class="fa fa-remove fa-fw"></i> Cancel
                </button>
            </div>
        </div>
        <!--pre>{{lease | json}}</pre-->
    </form>
</div>