<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Rent Amount</th>
            <th>Rent Frequency</th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="lease in leases">
            <td>{{lease.StartDate}}</td>
            <td>{{lease.EndDate}}</td>
            <td>{{lease.RentAmount}}</td>
            <td>{{lease.RentFrequency}}</td>
            <td>
                <a class="btn btn-info" ng-href="#/lease/detail/{{lease.LeaseId}}">
                    Edit <i class="glyphicon glyphicon-edit"></i>
                    
                </a>
                <a class="btn btn-danger">
                    Delete <i class="glyphicon glyphicon-erase"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>