<h4><font color="white">{{property.PropertyId ? 'Edit' : 'Add'}} Property</font></h4>
<div class="well">
   
    <form name="propertyForm" role="form">

        <div class="form-group"
             ng-class="{'has-error': propertyForm.propertyName.$invalid && propertyForm.$submitted }">
            <label class="control-label" for="propertyName">Property Name</label>
            <input type="text" class="form-control" id="propertyName" name="propertyName"
                   placeholder="Property Name" ng-model="property.Name" required autofocus>
            <span class="help-block" ng-show="propertyForm.propertyName.$invalid && propertyForm.$submitted">
                This is a required field
            </span>
        </div>

        <div class="form-group"
             ng-class="{'has-error': propertyForm.propertyAddress1.$invalid && propertyForm.$submitted }">
            <label class="control-label" for="propertyAddress1">Address (1)</label>
            <input type="text" class="form-control" id="propertyAddress1" name="propertyAddress1"
                   placeholder="Address (1)" ng-model="property.Address1" required>
            <span class="help-block" ng-show="propertyForm.propertyAddress1.$invalid && propertyForm.$submitted">
                This is a required field
            </span>
        </div>

        <div class="form-group">
            <label class="control-label" for="propertyAddress2">Address (2)</label>
            <input type="text" class="form-control" id="propertyAddress2"
                   placeholder="Address (2)" ng-model="property.Address2">
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="form-group"
                     ng-class="{'has-error': propertyForm.propertyCity.$invalid && propertyForm.$submitted }">
                    <label class="control-label" for="propertyCity">City</label>
                    <input type="text" class="form-control" id="propertyCity" name="propertyCity"
                           placeholder="City" ng-model="property.City" required>
                    <span class="help-block"
                          ng-show="propertyForm.propertyCity.$invalid && propertyForm.$submitted">
                        This is a required field
                    </span>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group"
                     ng-class="{'has-error': propertyForm.propertyState.$invalid && propertyForm.$submitted }">
                    <label class="control-label" for="propertyState">State</label>
                    <input type="text" class="form-control" id="propertyState" name="propertyState"
                           placeholder="State" ng-model="property.State" required>
                    <span class="help-block"
                          ng-show="propertyForm.propertyState.$invalid && propertyForm.$submitted">
                        This is a required field
                    </span>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label" for="propertyZipcode">Zipcode</label>
                    <input type="text" class="form-control" id="propertyZipcode"
                           placeholder="Zipcode" ng-model="property.Zipcode">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <button class="btn btn-success btn-sm" type="submit" ng-click="saveProperty()">
                    <i class="fa fa-save"></i> Save
                </button>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <button class="btn btn-danger btn-sm pull-right" ui-sref="app.properties.list">
                    <i class="fa fa-remove fa-fw"></i> Cancel
                </button>
            </div>
        </div>
    </form>
</div>