<div id='cssmenu'>
    <ul>
        <li><a href='#'><span class="glyphicon glyphicon-home"> Property Manager</span></a></li>
        <li class='active has-sub'>
            <a href='#'><span>Log In</span></a>
            <ul>
                <li class='has-sub'>
                    <a href='/#/login'>Log In</a>
                </li>
                <li class='has-sub'>
                    <a href='/#/register'>Register</a>
                </li>
            </ul>
        </li>
        <li><a href='/#/app/property/grid'><span>Properties</span></a></li>
        <li><a href='/#/app/tenant/grid'><span>Tenants</span></a></li>
        <li><a href='/#/app/lease/grid'><span>Leases</span></a></li>
    </ul>
</div>

<div class="container" style="margin-top: 60px;">
    <div ui-view></div>


</div><!--/.container -->