<link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet" />
<link href="css/normalize.css" rel="stylesheet" />
<link href="css/styles.css" rel="stylesheet" />


    <div id="cssmenu">
        <ul>
            <li><a href="#"><span class="glyphicon glyphicon-home"> Property Manager</span></a></li>
            <li class="active has-sub">
                <a href="#"><span>Log In</span></a>
                <ul>
                    <li class="has-sub">
                        <a href="/#/login">Log In</a>
                    </li>
                    <li class="has-sub">
                        <a href="/#/register">Register</a>
                    </li>
                </ul>
            </li>
            <li><a href="/#/app/property/grid"><span>Home</span></a></li>
            <li><a href="/#/app/tenant/grid"><span>About</span></a></li>
            <li><a href="/#/app/lease/grid"><span>Contact</span></a></li>
            <li><a href="/#/app/workorder/grid"><span>Pricing</span></a></li>
        </ul>
    </div>


    <section id="slide-1" class="homeSlide">
        <div class="bcg"
             data-center="background-position: 50% 0px;"
             data-top-bottom="background-position: 50% -100px;"
             data-anchor-target="#slide-1">
            <div class="hsContainer">
                <div class="hsContent"
                     data-center="bottom: 200px; opacity: 1"
                     data-top="bottom: 1200px; opacity: 0"
                     data-anchor-target="#slide-1 h2">
                    <h2>Log in or sign up now to...</h2>
                </div>
            </div>
        </div>
    </section>
    <section id="slide-2" class="homeSlide">
        <div class="bcg"
             data-center="background-position: 50% 0px;"
             data-top-bottom="background-position: 50% -100px;"
             data-bottom-top="background-position: 50% 100px;"
             data-anchor-target="#slide-2">
            <div class="hsContainer">
                <div class="hsContent"
                     data-center="opacity: 1"
                     data-center-top="opacity: 0"
                     data--100-bottom="opacity: 0;"
                     data-anchor-target="#slide-2">
                    <h2>Manage your dream properties</h2>
                </div>
            </div>
        </div>
    </section>
    <section id="slide-3" class="homeSlide">
        <div class="bcg"
             data-center="background-position: 50% 0px;"
             data-top-bottom="background-position: 50% -100px;"
             data-bottom-top="background-position: 50% 100px;"
             data-anchor-target="#slide-3">
            <div class="hsContainer">
                <div class="hsContent"
                     data--50-bottom="opacity: 0;"
                     data--200-bottom="opacity: 1;"
                     data-center="opacity: 1"
                     data-200-top="opacity: 0"
                     data-anchor-target="#slide-3 h2">
                    <h2>Wherever you want</h2>
                </div>
            </div>
        </div>
    </section>
    <section id="slide-4" class="homeSlide">
        <div class="bcg"
             data-center="background-position: 50% 0px;"
             data-top-bottom="background-position: 50% -100px;"
             data-bottom-top="background-position: 50% 100px;"
             data-anchor-target="#slide-4">
            <div class="hsContainer">
                <div class="hsContent"
                     data-bottom-top="opacity: 0"
                     data-25p-top="opacity: 0"
                     data-top="opacity: 1"
                     data-anchor-target="#slide-4">
                    <h2>Whenever you want.</h2>
                </div>
            </div>
        </div>
    </section>

<script src="js/parallax/skrollr.js"></script>
<script src="js/parallax/imagesloaded.js"></script>
<script src="js/parallax/_main.js"></script>
<script src="js/script.js"></script>
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
