<h1><i class="glyphicon glyphicon-home"></i> Property Manager  </h1>

<div class="row">
    <!-- column for overview -->
    <div class="col-sm-4">
        <!-- table for overview -->
        <table class="table table-bordered table-condensed table-responsive">
            <thead>
                <tr>
                    <th colspan="2">
                        <i class="fa fa-tachometer"></i> Overview
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Number of Properties
                        <span class="pull-right">{{dashboard.PropertyCount}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Number of Tenants
                        <span class="pull-right">{{dashboard.TenantCount}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Number of Leases
                        <span class="pull-right">{{dashboard.LeaseCount}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Number of Work Orders
                        <span class="pull-right">{{dashboard.WorkOrderCount}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

